$padding: 8px;

.voyager-logo {
  width: 150px;
  height: 33px;
  margin-right: 15px;
}

.voyager-desc {
  width: 200px;
  height: 33px;
  font-size: 15px;
  color: gray;
  margin-right: 57px;
  margin-top: 18px;
}

.idl-logo {
  position: absolute;
  right: $padding;
  display: inline-block;
}

.idl-logo img {
  width: 40px;
}

.header {
  background-color: white;
  height: 33px;
  padding: $padding;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
